# ***TEXT CLEANING***

In [1]:
import re
import matplotlib
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import string

from nltk.corpus import stopwords
import nltk
import numba
from numba import jit

nltk.download('stopwords')
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Unzipping taggers/averaged_perceptron_tagger.zip.

True

In [11]:
!unzip english_dataset.zip
!rm -rf english_dataset.zip

unzip:  cannot find or open english_dataset.zip, english_dataset.zip.zip or english_dataset.zip.ZIP.

# Converting to lower case and upper case

In [17]:

import csv
data = pd.read_csv('english_dataset/english_dataset.tsv', sep='\t')
data_2=pd.read_csv('english_dataset/hasoc2019_en_test-2919.tsv',sep='\t')
data = pd.concat([data, data_2], ignore_index=True, sort=False)

for row in data:
  data[row]=data[row].str.upper()
data.head(10)

       text_id                                               text  ... task_2 task_3
0   HASOC_EN_1  #DHONIKEEPSTHEGLOVE | WATCH: SPORTS MINISTER K...  ...   NONE   NONE
1   HASOC_EN_2  @POLITICO NO. WE SHOULD REMEMBER VERY CLEARLY ...  ...   HATE    TIN
2   HASOC_EN_3  @CRICKETWORLDCUP GUESS WHO WOULD BE THE WINNER...  ...   NONE   NONE
3   HASOC_EN_4  CORBYN IS TOO POLITICALLY INTELLECTUAL FOR #BO...  ...   NONE   NONE
4   HASOC_EN_5  ALL THE BEST TO #TEAMINDIA FOR ANOTHER SWIMMIN...  ...   NONE   NONE
5   HASOC_EN_6  @KELLYMILLER513 @THEREALOJ32 I HOPE YOU REMEMB...  ...   NONE   NONE
6   HASOC_EN_7  @ICC LATEST DESIGN OF #WC2019 TROPHY. #CWC2019...  ...   NONE   NONE
7   HASOC_EN_8  #ADOS #TRENDINGNOW #BLACKLIVESMATTER #JUSTICE ...  ...   PRFN    TIN
8   HASOC_EN_9  THANKS FOR YOUR SUPPORT! WOW 600K. GRAFFITI HA...  ...   NONE   NONE
9  HASOC_EN_10  BY WEARING THE #BALIDAANBADGE OVER HIS GLOVES ...  ...   NONE   NONE

[10 rows x 5 columns]

In [18]:
for row in data:
  data[row]=data[row].str.lower()
data.head()

      text_id                                               text  ... task_2 task_3
0  hasoc_en_1  #dhonikeepstheglove | watch: sports minister k...  ...   none   none
1  hasoc_en_2  @politico no. we should remember very clearly ...  ...   hate    tin
2  hasoc_en_3  @cricketworldcup guess who would be the winner...  ...   none   none
3  hasoc_en_4  corbyn is too politically intellectual for #bo...  ...   none   none
4  hasoc_en_5  all the best to #teamindia for another swimmin...  ...   none   none

[5 rows x 5 columns]

# Removing numbers

In [19]:
for row in data:
  data[row]=data[row].str.replace('\d+','')
data.head()

     text_id                                               text  ... task_2 task_3
0  hasoc_en_  #dhonikeepstheglove | watch: sports minister k...  ...   none   none
1  hasoc_en_  @politico no. we should remember very clearly ...  ...   hate    tin
2  hasoc_en_  @cricketworldcup guess who would be the winner...  ...   none   none
3  hasoc_en_  corbyn is too politically intellectual for #bo...  ...   none   none
4  hasoc_en_  all the best to #teamindia for another swimmin...  ...   none   none

[5 rows x 5 columns]

# Removing punctuations

In [20]:
for row in data:
 data[row]=data[row].str.replace('[^\w\s]','')
data.head()

     text_id                                               text  ... task_2 task_3
0  hasoc_en_  dhonikeepstheglove  watch sports minister kire...  ...   none   none
1  hasoc_en_  politico no we should remember very clearly th...  ...   hate    tin
2  hasoc_en_  cricketworldcup guess who would be the winner ...  ...   none   none
3  hasoc_en_  corbyn is too politically intellectual for bor...  ...   none   none
4  hasoc_en_  all the best to teamindia for another swimming...  ...   none   none

[5 rows x 5 columns]

# Removing stopwords

In [21]:
stop =stopwords.words('english')
#data=pd.DataFrame(data)
for row in data:
 data[row]=data[row].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))
data.head()

     text_id                                               text  ... task_2 task_3
0  hasoc_en_  dhonikeepstheglove watch sports minister kiren...  ...   none   none
1  hasoc_en_  politico remember clearly individual admitted ...  ...   hate    tin
2  hasoc_en_  cricketworldcup guess would winner cwc team ge...  ...   none   none
3  hasoc_en_  corbyn politically intellectual borisjohnsonsh...  ...   none   none
4  hasoc_en_  best teamindia another swimming competition su...  ...   none   none

[5 rows x 5 columns]

#Removing white space

In [22]:
for row in data:
 data[row]=data[row].str.replace(' ','')
data.head()

     text_id                                               text  ... task_2 task_3
0  hasoc_en_  dhonikeepstheglovewatchsportsministerkirenriji...  ...   none   none
1  hasoc_en_  politicorememberclearlyindividualadmittedtreas...  ...   hate    tin
2  hasoc_en_  cricketworldcupguesswouldwinnercwcteamgetsmaxi...  ...   none   none
3  hasoc_en_  corbynpoliticallyintellectualborisjohnsonshoul...  ...   none   none
4  hasoc_en_  bestteamindiaanotherswimmingcompetitionsundayp...  ...   none   none

[5 rows x 5 columns]